.hero{
    padding: 65px;
}
.blog .icon svg path{
    fill: #9F9F9F;
}
.blog .icon{
    color: #9F9F9F;
} 
.blog a::after{
    content: ' ';
    display: block;
    width: 70px;
    height: 2px;
    left: 10px;
    margin-top: 5px;
    position: absolute;
    background-color: black;
}
.blog form {
    border: #9F9F9F solid 1px;
    outline: #9F9F9F;
    display: flex;
    justify-content: end;
    width: 310px;
    border:solid 1px #9F9F9F;
}
.blog form input {
    border: none;
    outline: none;
}
.blog span{
    color: #9F9F9F;
}
