.hero{
    padding: 65px;
}
.comparison a{
    color: #727272;
    text-decoration: underline 2px;
    text-underline-offset: 10px;
}
.comparison .svg-line path{
fill: #9F9F9F;
}

.comparison span{
    color: #9F9F9F;
}
.comparison .Comparison2 img {
    background-color: #F9F1E7;
    padding: 10px;
    border-radius: 10px;
}
.comparison form select {
    background-color: var(--primaryColor);
    padding: 5px;

}
.side-3{
    padding-top: 70px;
}

.comparison .vertical-lines td,
.comparison .vertical-lines th {
  border-right: 1px solid #dee2e6;
  border-bottom: none;
  padding-left: 40px; 
}
.comparison  tr button{
    background-color: var(--primaryColor); 
}
.comparison .vertical-lines{
    table-layout: fixed; 
    border-collapse: collapse;
     border-right:1px solid #dee2e6;
}
