/* Start hero */
.hero{
    background-image: url('../img/hero/hero-shop-img.webp');
    padding: 120px;
}
/* End hero */
/* Start product */
.button-product button {
    background-color: #F9F1E7;
    color: black;
}

.button-product button:hover {
    background-color: var(--primaryColor);
    color: #ffff;
}

/* End product */

/* Start clients */
.clients {
    background: #FAF3EA;
}

/* End clients */